h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 50px;
    padding: 25px;
    background-color: rgb(51, 152, 247);
    opacity: .9;
    border: 5px solid whitesmoke;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
body {
    background-image: url("../images/background.jpg");
    background-size: cover;
}
.directions {
    text-align: center;
    font-size: 25px;
    padding: 25px;
    background-color: rgb(51, 152, 247);
    opacity: .9;
    border: 5px solid whitesmoke;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
#directionsTitle {
    font-weight: bold;
    text-decoration: underline;
}
img {
    height: 100px;
    width: 100px;
    margin-left: 80px;
    position: relative;
    left: 225px;
    float: left;
    align-content: center;
    padding: 25px;
    background-color: rgb(51, 152, 247);
    opacity: .9;
    border: 5px solid whitesmoke;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
#randomNumber {
    text-align: center;
    font-size: 25px;
    position: relative;
    padding: 25px; 
    background-color: rgb(51, 152, 247);
    opacity: .9;
    border: 5px solid whitesmoke;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
#totalScore {
    position: absolute;
    text-align: center;
    margin-left: 10px;
    top: 815px;
    right: 500px;
    left: 500px;
    font-size: 25px;
    padding: 25px;
    background-color: rgb(51, 152, 247);
    opacity: .9;
    border: 5px solid whitesmoke;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
#wins {
    position: absolute;
    top: 800px;
    right: 1025px;
    float: right;
    font-size: 25px;
    padding: 50px;
    background-color: rgb(51, 152, 247);
    opacity: .9;
    border: 5px solid whitesmoke;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
#losses {
    float: left;
    position: absolute;
    top: 800px;
    left: 1030px;
    font-size: 25px;
    padding: 50px;
    background-color:  rgb(51, 152, 247);
    opacity: .9;
    border: 5px solid whitesmoke;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
