h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 50px;
    
}
.directions {
    text-align: center;
    font-size: 25px;
}
#directionsTitle {
    font-weight: bold;
    text-decoration: underline;
}
#randomNumber {
    text-align: center;
    font-size: 25px;
}
img {
    height: 100px;
    width: 100px;
    float: left;
    align-content: center;
    padding: 25px;
    background-color: black;
}
#totalScore {
    position: relative;
    top: 200px;
    font-size: 25px;
    padding: 25px;
    background-color: rgb(233, 183, 130);
    opacity: .9;
    border: 5px solid gray;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
#wins {
    position: relative;
    top: 225px;
    right: 300px;
    float: right;
    font-size: 25px;
    padding: 50px;
    background-color: rgb(233, 183, 130);
    opacity: .9;
    border: 5px solid gray;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
#losses {
    float: left;
    position: relative;
    top: 225px;
    left: 300px;
    font-size: 25px;
    padding: 50px;
    background-color: rgb(233, 183, 130);
    opacity: .9;
    border: 5px solid gray;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
